[init]
	defaultBranch = main
[user]
	name = tsonobe
	email = sono.tak.st@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  d = diff
  co = checkout
  ci = commit
  st = status
  st-b = status -sb
  br = branch
  ba = branch -a
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  op = "!hub browse"
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
  # github cli
  # issue 
  ci- = !"f(){ gh issue create -t \"$1\" -b \"$2\"; };f"
  cif = !"f(){ gh issue create -t \"$1\" -F $2  ;};f"
  ciop = "!gh issue create -w"
  iop = !"f(){ gh issue view -w $1 ;};f"
  il = !"gh issue list"
  ilop = !"gh issue list -w"
[core]
	excludesfile = /Users/tsonobe/.gitignore_global
